.get-our-div {
  width: 1200px;
  height: 434px;
  background: linear-gradient(102.01deg, #23265C 1.96%, #352A56 101.68%);
  border-radius: 40px;
  margin-left: 20px;
  margin-top: 175px;
  position: relative;
}
.link-goole {
  display: flex;
  align-items: center;
}

.apps-h3 {
  font-weight: 600;
  font-size: 47.2727px;
  line-height: 160%;
  color: #fff;
  opacity: 0.7;
  margin-bottom: 12px;
}
.app-text {
  width: 406px;
  font-size: 18px;
  line-height: 180%;
  color: rgba(255, 255, 255, 0.7);
  margin-bottom: 32px;
}
.title-apps {
  padding-top: 85px;
  padding-left: 101px;
}
.app-gogle {
  margin-right: 25px;
}

.main-greadit {
  position: absolute;
  right: 100px;
  top: 40px;
}